[Unit]
Description=e-Ink Display
Documentation=https://github.com/Cylindric/display
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/display/src
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/share/.virtualenvs/display/bin/python -m display.runner
EnvironmentFile=/etc/display/display.env
Restart=always

[Install]
WantedBy=multi-user.target